.griddy{margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;}


h1{font-family: 'Tapestry', cursive;}

body {background-image: url(BackgroundPage1.jpg);
color: #FF0000}

.section1 {background-color: #9EA09E;
  padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
border: 3px solid #000000;
border-radius: 10px}

nav li a {
 color: #FFFFFF;
 display: block;
 border: 1px solid #000000;
 padding: 10px
}
 nav li {display: inline-block;}

 a:hover {color: #FF0000 }

 nav li {
  padding: 0;
  margin: 10px;
  width: 150px;
  background-color: #1612FB
  color: #FFFFFF

.Carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

#myCarousel.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 550px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}

.carousel__slide img{
width: 100% }
